{% extends "blog.html.twig" %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div id="contentBlock">
            {% for record in pagination %}
                <div class="post">
                    <div class="titlePost">{{ record.title }}</div>
                    <div class="contentPost">{{ record.description }}...</div>
                    <a class="animation" href="{{ path('show_post', {'id': record.id}) }}">Read more</a>
                </div>
            {% endfor %}
            </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock %}
{% endblock %}